.image-slider-wrapper {
  overflow: hidden;
}

.image-slider-carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.image-slider-carousel::-webkit-scrollbar {
  display: none;
}

.image-slider-carousel.no-transition {
  scroll-behavior: auto;
}

.image-slider-carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.image-slider-carousel.dragging .image-slider-card {
  cursor: grab;
  user-select: none;
}

.image-slider-carousel :where(.image-slider-card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider-card {
  scroll-snap-align: start;
  list-style: none;
  background: #fff;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%;
  height: 200px;
}

.image-slider-card:hover {
  transform: scale(1.05);
}

/* Tablet: 2 items per row */
@media screen and (max-width: 900px) {
  .image-slider-wrapper .image-slider-carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

/* Mobile: 1 item per row */
@media screen and (max-width: 600px) {
  .image-slider-wrapper .image-slider-carousel {
    grid-auto-columns: 100%;
  }
}
